body {
  font-family: 'Roboto Mono', monospace;
}

.first-h1 {
    color: red;
}
h1 {
  margin: 20px;
  text-align: center;
  font-size: 18px;
}

.container {
  height: 150px;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  margin: 20px 0px 100px 0px;
  padding: 10px;
}


.left,
.center,  
.right {
  min-height: 75px;
  width: 125px;
  background-color: dodgerblue;
  border: 2px solid lightgrey;
}

#baseline .center {
  height: 100px;
  width: 100px;
  border: 5px solid turquoise;
}

#flexstart {
align-items:flex-start;
}

